<%= form_with(model: simple_widget, local: true) do |form| %>
  <% if simple_widget.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(simple_widget.errors.count, "error") %> prohibited this simple_widget from being saved:</h2>

      <ul>
      <% simple_widget.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :count %>
    <%= form.text_field :count %>
  </div>

  <div class="field">
    <%= form.label :comments %>
    <%= form.text_field :comments %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
