<p id="notice"><%= notice %></p>

<h1>Simple Widgets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Count</th>
      <th>Comments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @simple_widgets.each do |simple_widget| %>
      <tr>
        <td><%= simple_widget.name %></td>
        <td><%= simple_widget.count %></td>
        <td><%= simple_widget.comments %></td>
        <td><%= link_to 'Show', simple_widget %></td>
        <td><%= link_to 'Edit', edit_simple_widget_path(simple_widget) %></td>
        <td><%= link_to 'Destroy', simple_widget, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Simple Widget', new_simple_widget_path %>
